version: "3.8"

services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8001:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:P_PCfw5Si_lGzn2Cib66pfJGU3ZtygjrEzMXriSPDiE@db:5432/appdb
    depends_on:
      - db
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:8001
    depends_on:
      - api
    restart: unless-stopped

  db:
    image: postgres:16
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=P_PCfw5Si_lGzn2Cib66pfJGU3ZtygjrEzMXriSPDiE
      - POSTGRES_DB=appdb
    ports:
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@orket.local
      - PGADMIN_DEFAULT_PASSWORD=55TtozsZ7-FUkRYMXT8HbO1bgs5p_R_mpF-jkTGlI_U
    ports:
      - "8081:80"
    depends_on:
      - db
    restart: unless-stopped

volumes:
  db-data:
